:root {
  --top-bar-font-size: 	.8125rem;
  --nav-link-font-color: #ff227a;
  --nav-link-font-size: 0.875rem;
  
}


.container-fluid {
  margin: 0;
}

.topBar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: white;
  width: 100vw;
  height: 30px;
  background: #000;
  font-size: var(--top-bar-font-size);
}



.shippingIcon {
  height: 11px;
  width: 24px;
  padding-right: 4px;
}

.phoneIcon {
  height: 12px;
  width: 14px;
  padding-right: 4px;
}

.avail {
  margin-left: 29.5rem;
  position: relative;
}

.truck {
  margin-left: 7.6rem;
  position: relative;
}

.phoneNumber {
  margin-left: 1.7rem;
  position: relative;
}

.freeTrial {
  margin-left: 1.5rem;
  position: relative;
}

.login {
  margin-left: 2.5rem;
  position: relative;
}

.badge {
  background-color: #ff227a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 0 0 45px;
  font-size: var(--nav-link-font-size);
  text-align: center;
  position: absolute;
  color: white;  
}

.nav-link {
  color: var(--nav-link-font-color) !important;
  font-size: var(--nav-link-font-size);

}